In [3]:
import pandas as pd
data=pd.read_excel("C:/Users/Amrit/Downloads/BlinkIT Grocery Data.xlsx")
#print(data)
#print(data.columns.tolist())
#print(data['Item Fat Content'].unique())
data['Item Fat Content']=data['Item Fat Content'].replace({
    'LF':'Low Fat',
    'low fat':'Low Fat',
    'reg':'Regular'
})

print(data['Item Fat Content'].unique())

['Regular' 'Low Fat']

In [14]:
print(data.head(10))

  Item Fat Content Item Identifier              Item Type  \
0          Regular           FDX32  Fruits and Vegetables
1          Low Fat           NCB42     Health and Hygiene
2          Regular           FDR28           Frozen Foods
3          Regular           FDL50                 Canned
4          Low Fat           DRI25            Soft Drinks
5          Low Fat           FDS52           Frozen Foods
6          Low Fat           NCU05     Health and Hygiene
7          Low Fat           NCD30              Household
8          Low Fat           FDW20  Fruits and Vegetables
9          Low Fat           FDX25                 Canned

   Outlet Establishment Year Outlet Identifier Outlet Location Type  \
0                       2012            OUT049               Tier 1
1                       2022            OUT018               Tier 3
2                       2016            OUT046               Tier 1
3                       2014            OUT013               Tier 3
4                       2015            OUT045               Tier 2
5                       2020            OUT017               Tier 2
6                       2011            OUT010               Tier 3
7                       2015            OUT045               Tier 2
8                       2014            OUT013               Tier 3
9                       2018            OUT027               Tier 3

  Outlet Size        Outlet Type  Item Visibility  Item Weight     Sales  \
0      Medium  Supermarket Type1         0.100014        15.10  145.4786
1      Medium  Supermarket Type2         0.008596        11.80  115.3492
2       Small  Supermarket Type1         0.025896        13.85  165.0210
3        High  Supermarket Type1         0.042278        12.15  126.5046
4       Small  Supermarket Type1         0.033970        19.60   55.1614
5       Small  Supermarket Type1         0.005505         8.89  102.4016
6       Small      Grocery Store         0.098312        11.80   81.4618
7       Small  Supermarket Type1         0.026904        19.70   96.0726
8        High  Supermarket Type1         0.024129        20.75  124.1730
9      Medium  Supermarket Type3         0.101562          NaN  181.9292

   Rating
0     5.0
1     5.0
2     5.0
3     5.0
4     5.0
5     5.0
6     5.0
7     5.0
8     5.0
9     5.0

In [16]:
sum=data['Sales'].sum()
print(sum)

1201681.4928

In [20]:
avg=data['Sales'].mean()
print("average",avg)

average 140.99278338613163

In [22]:
print(len(data))

8523

In [10]:
import pandas as pd
df=pd.DataFrame(data)
#print(df)
gp=data.groupby('Item Fat Content')['Sales'].sum()
print(gp)

Item Fat Content
Low Fat    776319.6884
Regular    425361.8044
Name: Sales, dtype: float64

In [28]:
gp=data.groupby(['Item Fat Content','Outlet Size'])['Sales'].sum().reset_index()
gp.columns=['Item Fat Content','Outlet Size','sum']
gp=gp.sort_values(by='sum',ascending=True)
print(gp)

  Item Fat Content Outlet Size          sum
0          Low Fat        High  122862.2920
3          Regular        High  126129.2940
5          Regular       Small  129565.8116
4          Regular      Medium  169666.6988
2          Low Fat       Small  315228.3588
1          Low Fat      Medium  338229.0376

In [21]:
finalsumoflowfat=gp['Low Fat'].reset_index()
result.columns=['outlet size','sumof']
print(result)

   outlet        sumof
0    High  122862.2920
1  Medium  338229.0376
2   Small  315228.3588

In [20]:
finalsumoflowfat=gp['Low Fat']['High']
print(finalsumoflowfat)

122862.292

In [22]:
print(data)

     Item Fat Content Item Identifier              Item Type  \
0             Regular           FDX32  Fruits and Vegetables
1             Low Fat           NCB42     Health and Hygiene
2             Regular           FDR28           Frozen Foods
3             Regular           FDL50                 Canned
4             Low Fat           DRI25            Soft Drinks
...               ...             ...                    ...
8518          Low Fat           NCT53     Health and Hygiene
8519          Low Fat           FDN09            Snack Foods
8520          Low Fat           DRE13            Soft Drinks
8521          Regular           FDT50                  Dairy
8522          Regular           FDM58            Snack Foods

      Outlet Establishment Year Outlet Identifier Outlet Location Type  \
0                          2012            OUT049               Tier 1
1                          2022            OUT018               Tier 3
2                          2016            OUT046               Tier 1
3                          2014            OUT013               Tier 3
4                          2015            OUT045               Tier 2
...                         ...               ...                  ...
8518                       2018            OUT027               Tier 3
8519                       2018            OUT027               Tier 3
8520                       2018            OUT027               Tier 3
8521                       2018            OUT027               Tier 3
8522                       2018            OUT027               Tier 3

     Outlet Size        Outlet Type  Item Visibility  Item Weight     Sales  \
0         Medium  Supermarket Type1         0.100014        15.10  145.4786
1         Medium  Supermarket Type2         0.008596        11.80  115.3492
2          Small  Supermarket Type1         0.025896        13.85  165.0210
3           High  Supermarket Type1         0.042278        12.15  126.5046
4          Small  Supermarket Type1         0.033970        19.60   55.1614
...          ...                ...              ...          ...       ...
8518      Medium  Supermarket Type3         0.000000          NaN  164.5526
8519      Medium  Supermarket Type3         0.034706          NaN  241.6828
8520      Medium  Supermarket Type3         0.027571          NaN   86.6198
8521      Medium  Supermarket Type3         0.107715          NaN   97.8752
8522      Medium  Supermarket Type3         0.000000          NaN  112.2544

      Rating
0        5.0
1        5.0
2        5.0
3        5.0
4        5.0
...      ...
8518     4.0
8519     4.0
8520     4.0
8521     4.0
8522     4.0

[8523 rows x 12 columns]

In [28]:
gp=data.groupby('Outlet Establishment Year')['Sales'].sum()
tf=gp[2015]
print(gp)
print(tf)

Outlet Establishment Year
2011     78131.5666
2012    130476.8598
2014    131809.0156
2015    130942.7802
2016    132113.3698
2017    133103.9070
2018    204522.2570
2020    129103.9604
2022    131477.7764
Name: Sales, dtype: float64
130942.7802

In [30]:
gp=data.groupby('Outlet Establishment Year')['Sales'].mean()
tf=gp[2015]
print(gp)
print(tf)

Outlet Establishment Year
2011    140.777597
2012    140.297699
2014    141.425982
2015    140.950248
2016    142.057387
2017    143.122481
2018    139.796485
2020    139.421124
2022    141.678638
Name: Sales, dtype: float64
140.95024779332616

In [32]:
gp=data.groupby('Outlet Establishment Year')['Sales'].count()
tf=gp[2015]
print(gp)
print(tf)

Outlet Establishment Year
2011     555
2012     930
2014     932
2015     929
2016     930
2017     930
2018    1463
2020     926
2022     928
Name: Sales, dtype: int64
929

In [8]:
data_2015 = data[data['Outlet Establishment Year'] == 2015]
print(data_2015)

     Item Fat Content Item Identifier              Item Type  \
4             Low Fat           DRI25            Soft Drinks
7             Low Fat           NCD30              Household
36            Low Fat           FDY07  Fruits and Vegetables
37            Regular           FDO45            Snack Foods
42            Low Fat           DRL11            Hard Drinks
...               ...             ...                    ...
7254          Regular           FDC59          Starchy Foods
7332          Low Fat           FDB52                  Dairy
7333          Low Fat           FDM44  Fruits and Vegetables
7338          Regular           FDI40           Frozen Foods
7339          Regular           FDI08  Fruits and Vegetables

      Outlet Establishment Year Outlet Identifier Outlet Location Type  \
4                          2015            OUT045               Tier 2
7                          2015            OUT045               Tier 2
36                         2015            OUT045               Tier 2
37                         2015            OUT045               Tier 2
42                         2015            OUT045               Tier 2
...                         ...               ...                  ...
7254                       2015            OUT045               Tier 2
7332                       2015            OUT045               Tier 2
7333                       2015            OUT045               Tier 2
7338                       2015            OUT045               Tier 2
7339                       2015            OUT045               Tier 2

     Outlet Size        Outlet Type  Item Visibility  Item Weight     Sales  \
4          Small  Supermarket Type1         0.033970        19.60   55.1614
7          Small  Supermarket Type1         0.026904        19.70   96.0726
36        Medium  Supermarket Type1         0.121848        11.80   46.8402
37        Medium  Supermarket Type1         0.038030        13.15   88.6856
42        Medium  Supermarket Type1         0.048116        10.50  159.0946
...          ...                ...              ...          ...       ...
7254        High  Supermarket Type1         0.054740        16.70   65.7168
7332      Medium  Supermarket Type1         0.030497        17.75  256.9672
7333      Medium  Supermarket Type1         0.031113        12.50  104.9990
7338      Medium  Supermarket Type1         0.125858        11.50  100.5358
7339      Medium  Supermarket Type1         0.066432        18.20  250.1092

      Rating
4        5.0
7        5.0
36       5.0
37       5.0
42       5.0
...      ...
7254     4.0
7332     4.0
7333     4.0
7338     4.0
7339     4.0

[929 rows x 12 columns]

In [29]:
print(data.columns.tolist())

['Item Fat Content', 'Item Identifier', 'Item Type', 'Outlet Establishment Year', 'Outlet Identifier', 'Outlet Location Type', 'Outlet Size', 'Outlet Type', 'Item Visibility', 'Item Weight', 'Sales', 'Rating']

In [3]:
gp=pd.DataFrame(data)
print(gp)

     Item Fat Content Item Identifier              Item Type  \
0             Regular           FDX32  Fruits and Vegetables
1             Low Fat           NCB42     Health and Hygiene
2             Regular           FDR28           Frozen Foods
3             Regular           FDL50                 Canned
4             Low Fat           DRI25            Soft Drinks
...               ...             ...                    ...
8518          Low Fat           NCT53     Health and Hygiene
8519          Low Fat           FDN09            Snack Foods
8520          Low Fat           DRE13            Soft Drinks
8521          Regular           FDT50                  Dairy
8522          Regular           FDM58            Snack Foods

      Outlet Establishment Year Outlet Identifier Outlet Location Type  \
0                          2012            OUT049               Tier 1
1                          2022            OUT018               Tier 3
2                          2016            OUT046               Tier 1
3                          2014            OUT013               Tier 3
4                          2015            OUT045               Tier 2
...                         ...               ...                  ...
8518                       2018            OUT027               Tier 3
8519                       2018            OUT027               Tier 3
8520                       2018            OUT027               Tier 3
8521                       2018            OUT027               Tier 3
8522                       2018            OUT027               Tier 3

     Outlet Size        Outlet Type  Item Visibility  Item Weight     Sales  \
0         Medium  Supermarket Type1         0.100014        15.10  145.4786
1         Medium  Supermarket Type2         0.008596        11.80  115.3492
2          Small  Supermarket Type1         0.025896        13.85  165.0210
3           High  Supermarket Type1         0.042278        12.15  126.5046
4          Small  Supermarket Type1         0.033970        19.60   55.1614
...          ...                ...              ...          ...       ...
8518      Medium  Supermarket Type3         0.000000          NaN  164.5526
8519      Medium  Supermarket Type3         0.034706          NaN  241.6828
8520      Medium  Supermarket Type3         0.027571          NaN   86.6198
8521      Medium  Supermarket Type3         0.107715          NaN   97.8752
8522      Medium  Supermarket Type3         0.000000          NaN  112.2544

      Rating
0        5.0
1        5.0
2        5.0
3        5.0
4        5.0
...      ...
8518     4.0
8519     4.0
8520     4.0
8521     4.0
8522     4.0

[8523 rows x 12 columns]

In [34]:
data.groupby('Outlet Establishment Year').agg(Sales_Count=('Sales', 'count')).reset_index()

   Outlet Establishment Year  Sales_Count
0                       2011          555
1                       2012          930
2                       2014          932
3                       2015          929
4                       2016          930
5                       2017          930
6                       2018         1463
7                       2020          926
8                       2022          928

In [4]:
gp=pd.DataFrame(data)
gp=gp[gp['Outlet Establishment Year']==2020]
result = gp.groupby(['Item Fat Content','Outlet Size']).agg(
    total_sales=('Sales','sum'),
    avg_sales=('Sales', 'mean'),
    No_Of_Items=('Sales', 'count'),  # Count items using 'Sales'
    Avg_Rating=('Rating', 'mean')
).reset_index()
result=result.sort_values(by='No_Of_Items',ascending=False)
print(result)

  Item Fat Content Outlet Size  total_sales   avg_sales  No_Of_Items  \
2          Low Fat       Small   47680.5058  135.455982          352
4          Regular      Medium   23271.0728  136.088145          171
0          Low Fat        High   24611.7440  145.631621          169
3          Regular        High   20444.4834  140.996437          145
1          Low Fat      Medium   10654.8000  145.956164           73
5          Regular       Small    2441.3544  152.584650           16

   Avg_Rating
2    3.948864
4    4.095906
0    3.998225
3    3.906897
1    3.995890
5    3.918750

In [9]:
print(data)

     Item Fat Content Item Identifier              Item Type  \
0             Regular           FDX32  Fruits and Vegetables
1             Low Fat           NCB42     Health and Hygiene
2             Regular           FDR28           Frozen Foods
3             Regular           FDL50                 Canned
4             Low Fat           DRI25            Soft Drinks
...               ...             ...                    ...
8518          Low Fat           NCT53     Health and Hygiene
8519          Low Fat           FDN09            Snack Foods
8520          Low Fat           DRE13            Soft Drinks
8521          Regular           FDT50                  Dairy
8522          Regular           FDM58            Snack Foods

      Outlet Establishment Year Outlet Identifier Outlet Location Type  \
0                          2012            OUT049               Tier 1
1                          2022            OUT018               Tier 3
2                          2016            OUT046               Tier 1
3                          2014            OUT013               Tier 3
4                          2015            OUT045               Tier 2
...                         ...               ...                  ...
8518                       2018            OUT027               Tier 3
8519                       2018            OUT027               Tier 3
8520                       2018            OUT027               Tier 3
8521                       2018            OUT027               Tier 3
8522                       2018            OUT027               Tier 3

     Outlet Size        Outlet Type  Item Visibility  Item Weight     Sales  \
0         Medium  Supermarket Type1         0.100014        15.10  145.4786
1         Medium  Supermarket Type2         0.008596        11.80  115.3492
2          Small  Supermarket Type1         0.025896        13.85  165.0210
3           High  Supermarket Type1         0.042278        12.15  126.5046
4          Small  Supermarket Type1         0.033970        19.60   55.1614
...          ...                ...              ...          ...       ...
8518      Medium  Supermarket Type3         0.000000          NaN  164.5526
8519      Medium  Supermarket Type3         0.034706          NaN  241.6828
8520      Medium  Supermarket Type3         0.027571          NaN   86.6198
8521      Medium  Supermarket Type3         0.107715          NaN   97.8752
8522      Medium  Supermarket Type3         0.000000          NaN  112.2544

      Rating
0        5.0
1        5.0
2        5.0
3        5.0
4        5.0
...      ...
8518     4.0
8519     4.0
8520     4.0
8521     4.0
8522     4.0

[8523 rows x 12 columns]

In [5]:
df=pd.DataFrame(data)
#print(df)
res=df.groupby('Item Type').agg(total_sales=('Sales','sum'),
                             count_sales=('Sales','count'),
                            avg_sales=('Sales','mean')
                               ).reset_index()

print(res.head(5))

      Item Type  total_sales  count_sales   avg_sales
0  Baking Goods   81894.7364          648  126.380766
1        Breads   35379.1198          251  140.952669
2     Breakfast   15596.6966          110  141.788151
3        Canned   90706.7290          649  139.763835
4         Dairy  101276.4616          682  148.499211

In [6]:
result=df.groupby(['Outlet Location Type','Item Fat Content']).agg(total_sum=('Sales','sum')).reset_index()
#print(result)
pivotdf = result.pivot(index='Outlet Location Type',columns='Item Fat Content',values='total_sum')

print(pivotdf)

Item Fat Content          Low Fat      Regular
Outlet Location Type
Tier 1                215047.9126  121349.8994
Tier 2                254464.7794  138685.8682
Tier 3                306806.9964  165326.0368

In [10]:
result = df.groupby(['Outlet Location Type', 'Item Fat Content']).agg(
    total_sum=('Sales', 'sum'),
    average_sales=('Sales', 'mean'),
    count_sales=('Sales', 'count')
).reset_index()
pivot_sum = result.pivot(index='Outlet Location Type', columns='Item Fat Content', values='total_sum')
pivot_avg = result.pivot(index='Outlet Location Type', columns='Item Fat Content', values='average_sales')
pivot_count = result.pivot(index='Outlet Location Type', columns='Item Fat Content', values='count_sales')
print("Total Sales:")
print(pivot_sum)
print("\nAverage Sales:")
print(pivot_avg)
print("\nCount of Sales:")
print(pivot_count)

Total Sales:
Item Fat Content          Low Fat      Regular
Outlet Location Type
Tier 1                215047.9126  121349.8994
Tier 2                254464.7794  138685.8682
Tier 3                306806.9964  165326.0368

Average Sales:
Item Fat Content         Low Fat     Regular
Outlet Location Type
Tier 1                139.641502  143.101296
Tier 2                140.665992  142.096176
Tier 3                141.516142  139.869743

Count of Sales:
Item Fat Content      Low Fat  Regular
Outlet Location Type
Tier 1                   1540      848
Tier 2                   1809      976
Tier 3                   2168     1182

In [25]:
sales_by_outlet=df.groupby('Outlet Size').agg(total_sales=('Sales','sum'))
#print(sales_by_outlet.sum())
percentage=(sales_by_outlet/sales_by_outlet.sum())*100
percentage=percentage.round(2).astype(str)+'%'
print(percentage)

            total_sales
Outlet Size
High             20.72%
Medium           42.27%
Small            37.01%

In [31]:
location_sales=df.groupby('Outlet Type').agg(total_sales=('Sales','sum'), count_sales=('Sales','count'),
                            avg_sales=('Sales','mean')
                               ).reset_index()
location_sales=location_sales.sort_values(by='total_sales',ascending=False)
print(location_sales)

         Outlet Type  total_sales  count_sales   avg_sales
1  Supermarket Type1  787549.8928         5577  141.213895
0      Grocery Store  151939.1490         1083  140.294690
2  Supermarket Type2  131477.7764          928  141.678638
3  Supermarket Type3  130714.6746          935  139.801791